<%- include("partials/header") %>
<div class ='container'>
	<div class ='content'>
	<h2 class='heading'>Sparks E-Banking System</h2>	
     
	<p class="main-content">
    An online banking platform which helps to transfer your money in very smart way.We provide flexible and smart 
	ways of transferring your money.
    </p>

 <button class='submit'><a href="/view"></a>Get Started</button>
</div>
</div>
	
<%- include("partials/footer") %>
